.elementor-4795 .elementor-element.elementor-element-1c5d2488::before,
.elementor-4795 .elementor-element.elementor-element-1c5d2488>.elementor-background-video-container::before,
.elementor-4795 .elementor-element.elementor-element-1c5d2488>.e-con-inner>.elementor-background-video-container::before,
.elementor-4795 .elementor-element.elementor-element-1c5d2488>.elementor-background-slideshow::before,
.elementor-4795 .elementor-element.elementor-element-1c5d2488>.e-con-inner>.elementor-background-slideshow::before,
.elementor-4795 .elementor-element.elementor-element-1c5d2488>.elementor-motion-effects-container>.elementor-motion-effects-layer::before {
    background-image: linear-gradient(90deg, black 40%, rgba(255, 255, 255, 0) 90%) !important;
}

.elementor-55 .elementor-element.elementor-element-df50ec7::before,
.elementor-55 .elementor-element.elementor-element-df50ec7>.elementor-background-video-container::before,
.elementor-55 .elementor-element.elementor-element-df50ec7>.e-con-inner>.elementor-background-video-container::before,
.elementor-55 .elementor-element.elementor-element-df50ec7>.elementor-background-slideshow::before,
.elementor-55 .elementor-element.elementor-element-df50ec7>.e-con-inner>.elementor-background-slideshow::before,
.elementor-55 .elementor-element.elementor-element-df50ec7>.elementor-motion-effects-container>.elementor-motion-effects-layer::before {
    background-image: linear-gradient(180deg, #3a6f43 0%, var(--e-global-color-eb43f9a) 100%);
}