.elementor-kit-7 {
    --e-global-color-primary: #FF0000;
    --e-global-color-secondary: #D6E781;
    --e-global-color-text: #1E1E1E;
    --e-global-color-accent: #3A6F43;
    --e-global-color-4828a7f: #92AD00;
    --e-global-color-5cbb7fe: #000000;
    --e-global-color-1083502: #EFF4FF;
    --e-global-color-f807131: #041B47;
    --e-global-color-6d73471: #339B9F;
    --e-global-color-bef496f: #FFFFFF;
    --e-global-color-d999134: #DCE7FF;
    --e-global-color-d8590a7: #F8FFD04F;
    --e-global-color-eb43f9a: #FFFFFF00;
    --e-global-typography-primary-font-family: "Outfit";
    --e-global-typography-primary-font-weight: 600;
    --e-global-typography-secondary-font-family: "Outfit";
    --e-global-typography-secondary-font-size: 32px;
    --e-global-typography-secondary-font-weight: 600;
    --e-global-typography-secondary-line-height: 1.2em;
    --e-global-typography-text-font-family: "Poppins";
    --e-global-typography-text-font-size: 16px;
    --e-global-typography-text-font-weight: 400;
    --e-global-typography-text-line-height: 1.5em;
    --e-global-typography-accent-font-family: "Poppins";
    --e-global-typography-accent-font-size: 16px;
    --e-global-typography-accent-font-weight: 500;
    --e-global-typography-accent-line-height: 1.5em;
    --e-global-typography-b2087aa-font-family: "Outfit";
    --e-global-typography-b2087aa-font-size: 72px;
    --e-global-typography-b2087aa-font-weight: 700;
    --e-global-typography-b2087aa-line-height: 1em;
    --e-global-typography-36215a0-font-family: "Outfit";
    --e-global-typography-36215a0-font-size: 58px;
    --e-global-typography-36215a0-font-weight: 600;
    --e-global-typography-36215a0-line-height: 1em;
    --e-global-typography-cc010d1-font-family: "Outfit";
    --e-global-typography-cc010d1-font-size: 48px;
    --e-global-typography-cc010d1-font-weight: 600;
    --e-global-typography-cc010d1-line-height: 1.1em;
    --e-global-typography-3cd8205-font-family: "Outfit";
    --e-global-typography-3cd8205-font-size: 36px;
    --e-global-typography-3cd8205-font-weight: 600;
    --e-global-typography-3cd8205-line-height: 1.2em;
    --e-global-typography-f886443-font-family: "Outfit";
    --e-global-typography-f886443-font-size: 24px;
    --e-global-typography-f886443-font-weight: 600;
    --e-global-typography-f886443-line-height: 1.3em;
    --e-global-typography-a61523d-font-family: "Outfit";
    --e-global-typography-a61523d-font-size: 18px;
    --e-global-typography-a61523d-font-weight: 600;
    --e-global-typography-a61523d-line-height: 1.4em;
    --e-global-typography-840d42f-font-family: "Outfit";
    --e-global-typography-840d42f-font-size: 14px;
    --e-global-typography-840d42f-font-weight: 600;
    --e-global-typography-840d42f-line-height: 1.5em;
    --e-global-typography-1ac9099-font-family: "Poppins";
    --e-global-typography-1ac9099-font-size: 14px;
    --e-global-typography-1ac9099-font-weight: 400;
    --e-global-typography-1ac9099-line-height: 1.5em;
    color: var(--e-global-color-text);
    font-family: var(--e-global-typography-text-font-family), Sans-serif;
    font-size: var(--e-global-typography-text-font-size);
    font-weight: var(--e-global-typography-text-font-weight);
    line-height: var(--e-global-typography-text-line-height);
}

.elementor-kit-7 button,
.elementor-kit-7 input[type="button"],
.elementor-kit-7 input[type="submit"],
.elementor-kit-7 .elementor-button {
    background-color: var(--e-global-color-accent);
    font-family: var(--e-global-typography-accent-font-family), Sans-serif;
    font-size: var(--e-global-typography-accent-font-size);
    font-weight: var(--e-global-typography-accent-font-weight);
    line-height: var(--e-global-typography-accent-line-height);
    color: var(--e-global-color-text);
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: var(--e-global-color-accent);
    border-radius: 50px 50px 50px 50px;
    padding: 15px 30px 15px 30px;
}

.elementor-kit-7 button:hover,
.elementor-kit-7 button:focus,
.elementor-kit-7 input[type="button"]:hover,
.elementor-kit-7 input[type="button"]:focus,
.elementor-kit-7 input[type="submit"]:hover,
.elementor-kit-7 input[type="submit"]:focus,
.elementor-kit-7 .elementor-button:hover,
.elementor-kit-7 .elementor-button:focus {
    background-color: var(--e-global-color-eb43f9a);
    color: var(--e-global-color-4828a7f);
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: var(--e-global-color-4828a7f);
}

.elementor-kit-7 a {
    color: var(--e-global-color-accent);
    font-family: var(--e-global-typography-accent-font-family), Sans-serif;
    font-size: var(--e-global-typography-accent-font-size);
    font-weight: var(--e-global-typography-accent-font-weight);
    line-height: var(--e-global-typography-accent-line-height);
}

.elementor-kit-7 a:hover {
    color: var(--e-global-color-6d73471);
}

.elementor-kit-7 h1 {
    color: var(--e-global-color-5cbb7fe);
    font-family: var(--e-global-typography-36215a0-font-family), Sans-serif;
    font-size: var(--e-global-typography-36215a0-font-size);
    font-weight: var(--e-global-typography-36215a0-font-weight);
    line-height: var(--e-global-typography-36215a0-line-height);
    letter-spacing: var(--e-global-typography-36215a0-letter-spacing);
    word-spacing: var(--e-global-typography-36215a0-word-spacing);
}

.elementor-kit-7 h2 {
    color: var(--e-global-color-5cbb7fe);
    font-family: var(--e-global-typography-cc010d1-font-family), Sans-serif;
    font-size: var(--e-global-typography-cc010d1-font-size);
    font-weight: var(--e-global-typography-cc010d1-font-weight);
    line-height: var(--e-global-typography-cc010d1-line-height);
    letter-spacing: var(--e-global-typography-cc010d1-letter-spacing);
    word-spacing: var(--e-global-typography-cc010d1-word-spacing);
}

.elementor-kit-7 h3 {
    color: var(--e-global-color-5cbb7fe);
    font-family: var(--e-global-typography-3cd8205-font-family), Sans-serif;
    font-size: var(--e-global-typography-3cd8205-font-size);
    font-weight: var(--e-global-typography-3cd8205-font-weight);
    line-height: var(--e-global-typography-3cd8205-line-height);
    letter-spacing: var(--e-global-typography-3cd8205-letter-spacing);
    word-spacing: var(--e-global-typography-3cd8205-word-spacing);
}

.elementor-kit-7 h4 {
    color: var(--e-global-color-5cbb7fe);
    font-family: var(--e-global-typography-f886443-font-family), Sans-serif;
    font-size: var(--e-global-typography-f886443-font-size);
    font-weight: var(--e-global-typography-f886443-font-weight);
    line-height: var(--e-global-typography-f886443-line-height);
    letter-spacing: var(--e-global-typography-f886443-letter-spacing);
    word-spacing: var(--e-global-typography-f886443-word-spacing);
}

.elementor-kit-7 h5 {
    color: var(--e-global-color-5cbb7fe);
    font-family: var(--e-global-typography-a61523d-font-family), Sans-serif;
    font-size: var(--e-global-typography-a61523d-font-size);
    font-weight: var(--e-global-typography-a61523d-font-weight);
    line-height: var(--e-global-typography-a61523d-line-height);
    letter-spacing: var(--e-global-typography-a61523d-letter-spacing);
    word-spacing: var(--e-global-typography-a61523d-word-spacing);
}

.elementor-kit-7 h6 {
    color: var(--e-global-color-5cbb7fe);
    font-family: var(--e-global-typography-840d42f-font-family), Sans-serif;
    font-size: var(--e-global-typography-840d42f-font-size);
    font-weight: var(--e-global-typography-840d42f-font-weight);
    line-height: var(--e-global-typography-840d42f-line-height);
    letter-spacing: var(--e-global-typography-840d42f-letter-spacing);
    word-spacing: var(--e-global-typography-840d42f-word-spacing);
}

.elementor-section.elementor-section-boxed>.elementor-container {
    max-width: 1280px;
}

.e-con {
    --container-max-width: 1280px;
}

.elementor-widget:not(:last-child) {
    --kit-widget-spacing: 20px;
}

.elementor-element {
    --widgets-spacing: 20px 20px;
    --widgets-spacing-row: 20px;
    --widgets-spacing-column: 20px;
}

    {}

h1.entry-title {
    display: var(--page-title-display);
}

.site-header .site-branding {
    flex-direction: column;
    align-items: stretch;
}

.site-header {
    padding-inline-end: 0px;
    padding-inline-start: 0px;
}

.site-footer .site-branding {
    flex-direction: column;
    align-items: stretch;
}

@media(max-width:1024px) {
    .elementor-kit-7 {
        font-size: var(--e-global-typography-text-font-size);
        line-height: var(--e-global-typography-text-line-height);
    }

    .elementor-kit-7 a {
        font-size: var(--e-global-typography-accent-font-size);
        line-height: var(--e-global-typography-accent-line-height);
    }

    .elementor-kit-7 h1 {
        font-size: var(--e-global-typography-36215a0-font-size);
        line-height: var(--e-global-typography-36215a0-line-height);
        letter-spacing: var(--e-global-typography-36215a0-letter-spacing);
        word-spacing: var(--e-global-typography-36215a0-word-spacing);
    }

    .elementor-kit-7 h2 {
        font-size: var(--e-global-typography-cc010d1-font-size);
        line-height: var(--e-global-typography-cc010d1-line-height);
        letter-spacing: var(--e-global-typography-cc010d1-letter-spacing);
        word-spacing: var(--e-global-typography-cc010d1-word-spacing);
    }

    .elementor-kit-7 h3 {
        font-size: var(--e-global-typography-3cd8205-font-size);
        line-height: var(--e-global-typography-3cd8205-line-height);
        letter-spacing: var(--e-global-typography-3cd8205-letter-spacing);
        word-spacing: var(--e-global-typography-3cd8205-word-spacing);
    }

    .elementor-kit-7 h4 {
        font-size: var(--e-global-typography-f886443-font-size);
        line-height: var(--e-global-typography-f886443-line-height);
        letter-spacing: var(--e-global-typography-f886443-letter-spacing);
        word-spacing: var(--e-global-typography-f886443-word-spacing);
    }

    .elementor-kit-7 h5 {
        font-size: var(--e-global-typography-a61523d-font-size);
        line-height: var(--e-global-typography-a61523d-line-height);
        letter-spacing: var(--e-global-typography-a61523d-letter-spacing);
        word-spacing: var(--e-global-typography-a61523d-word-spacing);
    }

    .elementor-kit-7 h6 {
        font-size: var(--e-global-typography-840d42f-font-size);
        line-height: var(--e-global-typography-840d42f-line-height);
        letter-spacing: var(--e-global-typography-840d42f-letter-spacing);
        word-spacing: var(--e-global-typography-840d42f-word-spacing);
    }

    .elementor-kit-7 button,
    .elementor-kit-7 input[type="button"],
    .elementor-kit-7 input[type="submit"],
    .elementor-kit-7 .elementor-button {
        font-size: var(--e-global-typography-accent-font-size);
        line-height: var(--e-global-typography-accent-line-height);
    }

    .elementor-section.elementor-section-boxed>.elementor-container {
        max-width: 1024px;
    }

    .e-con {
        --container-max-width: 1024px;
    }
}

@media(max-width:767px) {
    .elementor-kit-7 {
        --e-global-typography-36215a0-font-size: 50px;
        --e-global-typography-cc010d1-font-size: 42px;
        --e-global-typography-3cd8205-font-size: 32px;
        --e-global-typography-f886443-font-size: 24px;
        font-size: var(--e-global-typography-text-font-size);
        line-height: var(--e-global-typography-text-line-height);
    }

    .elementor-kit-7 a {
        font-size: var(--e-global-typography-accent-font-size);
        line-height: var(--e-global-typography-accent-line-height);
    }

    .elementor-kit-7 h1 {
        font-size: var(--e-global-typography-36215a0-font-size);
        line-height: var(--e-global-typography-36215a0-line-height);
        letter-spacing: var(--e-global-typography-36215a0-letter-spacing);
        word-spacing: var(--e-global-typography-36215a0-word-spacing);
    }

    .elementor-kit-7 h2 {
        font-size: var(--e-global-typography-cc010d1-font-size);
        line-height: var(--e-global-typography-cc010d1-line-height);
        letter-spacing: var(--e-global-typography-cc010d1-letter-spacing);
        word-spacing: var(--e-global-typography-cc010d1-word-spacing);
    }

    .elementor-kit-7 h3 {
        font-size: var(--e-global-typography-3cd8205-font-size);
        line-height: var(--e-global-typography-3cd8205-line-height);
        letter-spacing: var(--e-global-typography-3cd8205-letter-spacing);
        word-spacing: var(--e-global-typography-3cd8205-word-spacing);
    }

    .elementor-kit-7 h4 {
        font-size: var(--e-global-typography-f886443-font-size);
        line-height: var(--e-global-typography-f886443-line-height);
        letter-spacing: var(--e-global-typography-f886443-letter-spacing);
        word-spacing: var(--e-global-typography-f886443-word-spacing);
    }

    .elementor-kit-7 h5 {
        font-size: var(--e-global-typography-a61523d-font-size);
        line-height: var(--e-global-typography-a61523d-line-height);
        letter-spacing: var(--e-global-typography-a61523d-letter-spacing);
        word-spacing: var(--e-global-typography-a61523d-word-spacing);
    }

    .elementor-kit-7 h6 {
        font-size: var(--e-global-typography-840d42f-font-size);
        line-height: var(--e-global-typography-840d42f-line-height);
        letter-spacing: var(--e-global-typography-840d42f-letter-spacing);
        word-spacing: var(--e-global-typography-840d42f-word-spacing);
    }

    .elementor-kit-7 button,
    .elementor-kit-7 input[type="button"],
    .elementor-kit-7 input[type="submit"],
    .elementor-kit-7 .elementor-button {
        font-size: var(--e-global-typography-accent-font-size);
        line-height: var(--e-global-typography-accent-line-height);
    }

    .elementor-section.elementor-section-boxed>.elementor-container {
        max-width: 767px;
    }

    .e-con {
        --container-max-width: 767px;
    }
}